body{
    margin: 0px;
    padding: 0px;
}
/* header area start  */
.header_area{
    background-image: url(../images/about/bg.jpg);
    background-attachment: local;
}
p{
    text-align: justify;
    color: rgb(59, 59, 59);
    padding: 100px;
}
span{
    font-size: 80px;
    font-weight: 900;
}
.header_content_area{
    padding: 200px 0px 250px;
}
/* Extra use for fixt fooder p in about.html also service project conteent */
footer .copy_write{
    padding: 0px;
    text-align: center;
}